body {
    margin: 0;
    background-color: #2d2d2d;
    color: #222;
    padding:20px;
    overflow: auto;


}

.background-container{
    background-image: url("pozadina.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Obezbeđivanje prostora između elemenata */
  


}

h1,h5,h6{
    background: none;
}

@font-face { font-family: oddlini; src: url('oddlini.ttf'); } 
@font-face { font-family: kanyonb; src: url('Kanyon-bold.otf'); } 
@font-face { font-family: kanyonm; src: url('Kanyon-medium.otf'); } 

h1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: oddlini;
    text-align:left;
    color:white;
    margin: 30px;
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: 5px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    height: 2rem;

    margin: 0; /* Uklanja marginu sa svih strana */
    padding: 0;
    padding-bottom: 10px;
}

h2{
    margin: 0; /* Uklanja marginu sa svih strana */
    padding: 0;
    padding-top:50px;
    height: 10rem;
    
    display: flex;

    font-family: oddlini;
    text-align: center;
    color:white;
    font-weight: 300;
    font-size: 8rem;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 1); 
    display: block; /* Postavi h3 da bude blok element */
    width: 100%; 

    box-shadow: 10px 10px inset;


    /* border-right: 2px solid white; /* Kursor efekat */
    white-space: nowrap;
    overflow: hidden; /* Sakriva tekst dok se kuca */
    display: inline-block;
    animation: typing-cursor 0.75s step-end infinite;
}

h3{
    margin: 0; /* Uklanja marginu sa svih strana */
    padding:0px;

    height: 10rem;
    /* border-bottom: 4px solid white; */
    display: flex;
 
    box-shadow: -10px -10px inset;

    font-family: oddlini;
    text-align: center; 
    color:white;
    font-weight: 300;
    font-size: 8rem;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 1); 
    display: block; /* Postavi h3 da bude blok element */
    width: 100%; 

}

h5, h6 {
    margin: 50px;
    text-align: center;
    color:white ;
    margin-bottom: 20px;
    position: relative;
    font-size: 3em; 
    letter-spacing: 20px;
    font-weight: 900;
    z-index: 1; 
    transition: opacity 0.3s ease; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

h6{
    margin:30px;
}

.header .right a{
    text-decoration: none;
    color: white;
}

.header .right a:hover {
    color: #c9c9c9;
}

/* Galerija */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 60px;
    position: relative;
    z-index: 2;
    padding:20px;
        -webkit-box-shadow: 0 0 10px #000000;
            box-shadow: 0 10px 10px #000000;
        padding-bottom: 30px;
        margin-bottom: 20px;
}

/* Drugi stilovi za galeriju */
.gallery-item {
    position: relative;
    overflow: visible;
    border-radius: 8px;
    transition: transform 0.3s ease, z-index 0.3s ease;
    border: 0.5rem outset white;
    /* outline: 0.5rem solid khaki; */
    /* box-shadow: 0 0 0 2rem skyblue; */

    object-fit: cover;

    -webkit-box-shadow: 0 0 10px #000000;
    box-shadow: 0 10px 10px #000000;


    border-radius: 3px;
    padding: 5px;
}

/* Hover efekat na slikama */
.gallery-item:hover img {
    transform: scale(1.45);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.gallery-item:hover {
    z-index: 3; 
}


.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lightbox {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.lightbox.active {
    display: flex;
}

@media (max-width: 450px) {
    h1{
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    h2 {
        font-size: 4rem; /* Manja veličina fonta na ekranima manjim od 768px */
        letter-spacing: 10px; /* Manji razmak između slova */
        padding-top: 30px;
        margin-top: 30px;
    }
    h3 {
        font-size: 4rem; /* Manja veličina fonta na ekranima manjim od 768px */
        letter-spacing: 5px; /* Manji razmak između slova */
        height:50%;
    }
}

@media (max-width: 400px) {
    h1{
        font-size: 1.1rem;
        padding: 0;
        margin: 0;
    }
    h2 {
        font-size: 3rem; /* Manja veličina fonta na ekranima manjim od 768px */
        letter-spacing: 10px; /* Manji razmak između slova */
        padding-top: 30px;
        margin-top: 30px;
    }
    h3 {
        font-size: 3rem; /* Manja veličina fonta na ekranima manjim od 768px */
        letter-spacing: 5px; /* Manji razmak između slova */
        height:50%;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }
}